<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".GlobalApplication"
        android:icon="@drawable/ic_app_icon"
        android:label="${appName3dollar}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".utils.ThreedollarsMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.splash.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storeDetail.user.ui.StoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storeDetail.boss.ui.BossStoreDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="action"
                    android:scheme="kakaomap" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="action"
                    android:scheme="nmap" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.ui.FullScreenMapActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="action"
                    android:scheme="kakaomap" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="action"
                    android:scheme="nmap" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.storeDetail.boss.ui.BossReviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.favorite.FavoriteMyFolderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.favorite.FavoriteMyInfoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".KakaoSchemeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="kakao${kakao_key}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicLinkActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:host="link.threedollars.co.kr"/>
                <data android:pathPattern=".*"/>
                <data android:scheme="http"/>
                <data android:host="link.threedollars.co.kr"/>
                <data android:pathPattern=".*"/>
                <data android:scheme="dollars-dev"/>
                <data android:host="*"/>
                <data android:pathPattern=".*"/>
                <data android:scheme="dollars"/>
                <data android:host="*"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakao_key}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zion830.threedollars.ui.favorite.viewer.FavoriteViewerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zion830.threedollars.ui.login.ui.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.storeDetail.user.ui.MoreImageActivity" />

        <activity android:name="com.threedollar.presentation.polls.PollListActivity" />
        <activity android:name="com.threedollar.presentation.poll.PollDetailActivity" />
        <activity android:name=".ui.storeDetail.user.ui.StoreReviewDetailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${nmf_client_id}" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admob_id}" />
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />
    </application>
</manifest>