<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zion830.threedollars">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>
    
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
    
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addstore.AddStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store_detail.StoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store_detail.StoreByMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.store_detail.EditStoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            
                <data
                    android:host="oauth"
                    android:scheme="kakao${kakao_key}" />
            </intent-filter>
        </activity>
    
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${nmf_client_id}" />
    </application>
</manifest>