<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <instrumentation
        android:name="com.zion830.threedollars.ui.home.design.SduiHostInstrumentation"
        android:targetPackage="${applicationId}" />

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ui.home.design.ServerDrivenStoreFixtureActivity"
            android:exported="true"
            android:theme="@style/DesignVerificationTheme" />
        <activity
            android:name=".ui.home.design.ServerDrivenContractPreviewActivity"
            android:exported="true"
            android:theme="@style/DesignVerificationTheme" />
        <activity
            android:name=".ui.home.design.HomeStorePreviewDesignActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DesignVerificationTheme" />
    </application>
</manifest>
